@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

.counter {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin: 0;
  padding: 5px;
  height: 50px;
  width: 125px;
  border-radius: 5px;
  font-family: "Baloo 2", cursive;
}

.counter > button {
  border: none;
  background-color: lightgray;
}
