form {
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
}

label {
  background-color: royalblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  font-size: 15px;
}

.Voucher-medium {
  height: 50px;
}
