button {
  border-radius: 2px;
  padding: 5px 25px;
}

.button-primary {
  background-color: #0069d9;
  color: #0069d9;
  border: #0069d9 solid 1px;
}

.button-danger {
  background-color: #cc2828;
  color: #cc2828;
  border: #cc2828 solid 1px;
}

.button-success {
  background-color: #3bc91f;
  color: #3bc91f;
  border: #3bc91f solid 1px;
}

.button-warning {
  background-color: #d4b817;
  color: #d4b817;
  border: #d4b817 solid 1px;
}

.button-default {
  background-color: black;
  color: black;
  border: black solid 1px;
}

.button-dark {
  filter: brightness(90%);
}

.button-opaque {
  opacity: 0.3;
}

.button-big {
  padding: 12px 35px;
}

.button-outline {
  background-color: white;
}

.button-white {
  color: rgb(255, 255, 255);
}

.button-light {
  background: rgba(51, 160, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img {
  margin: 2px;
}
